import { useEffect, useState } from 'react'

const Ad = () => {
  const [showAd, setShowAd] = useState(false)

  useEffect(() => {
    if (document.referrer.includes('facebook.com')) {
      setShowAd(true)
    }
  }, [])

  if (!showAd) {
    return null
  }

  return (
    <div dangerouslySetInnerHTML={{ __html: `
        <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1495584723679540" crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:600px;height:300px" data-ad-client="ca-pub-1495584723679540" data-ad-slot="3765044096" data-page-url="http://theglobalmagazine.com"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    `}} />
  )
}

export default Ad
